body{
    background-color: rgb(180, 180, 170);
}

nav{
    background-color: rgb(208, 208, 208);
}

.list-group{
    margin-top: 12em;
    max-width: 300px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.list-group-item{
    background-color: rgb(208, 208, 208);
}

.list-group-item:hover{
    background-color: black;
    color: white;
}

.list-group a{
    background-color: rgb(161, 161, 161);
}